.app-drawer {
  .v-navigation-drawer {
    width: 100% !important;
    max-width: 500px !important;
  }

  .v-navigation-drawer__prepend {
    border-bottom: 1px solid var(--gray-light);
    overflow: initial;
  }

  .v-navigation-drawer__append {
    border-top: 2px solid var(--gray-light);
    overflow: initial;
    padding: var(--app-offset-normal);
  }

  .app-drawer--header {
    padding: var(--app-offset-normal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--app-color-grey);
  }

  .app-drawer--header-title {
    font-weight: 600;
    font-size: var(--app-font-size-xl);
  }

  .v-navigation-drawer__content {
    padding: var(--app-offset-normal);
  }

  .v-navigation-drawer__scrim {
    position: fixed;
  }
}