
.vs-block {
  position: relative;
  padding: var(--app-offset-normal);

  @include boxShadow;

  .vs-block-tools {
    display: inline-grid;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .vs-block-body {
    display: flex;
    flex-wrap: wrap;
    gap: var(--app-offset-middle);
    padding-block-start: 24px;
  }
  
  .vs-block-title {
    display: grid;
    align-items: center;
    grid-template-columns: 100px minmax(0, 1fr) 32px;
    width: 100%;
    gap: 32px;
    padding-inline-end: 40px;
  }
  .vs-block-settings {
    @include boxShadow;
    border: 1px solid red;
  }
}

.vs-block-tools-settings {
  background: #fff;
  border-radius: 4px;
  padding: 16px;
  min-width: 300px;
  display: grid;
  gap: 16px;
}
.vs-block-tools-settings-container {
  overflow-y: auto;
  height: 100%;
}
.vs-block-tools-settings-image {
  border-bottom: 1px solid var(--app-color-grey);
  padding-bottom: var(--app-offset-normal);

  .vs-label {
    //padding-bottom: 4px;
  }

  .existing-image {
    img {
      max-width: 150px;
    }
  }
  .existing-image-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .loading-image-info {
    .app-form-field-file-input {
      flex-grow: 1;
    }
    .v-field {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    .v-field__clearable {
      padding: 0;
    }
  }
}

.vs-block-tools-settings-image-actions {
  display: flex;
  gap: 16px;
  align-items: center;
  padding-block-start: 16px;

}