.vs-navigation {
  position: fixed;
  width: var(--app-navigation-width);
  background: #F4F3F3;
  font-size: var(--app-font-size-l);

  .vs-navigation-links {
    display: grid;
    padding-inline-end: 10px;
  }
}
.vs-navigation-item-link {
  text-decoration: none;
  display: block;
  padding: 8px 16px;
  color: var(--app-color-primary);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  @include trans;

  &:hover {
    background: rgba(var(--app-color-red-rgb), .2)
  }

  &.router-link-active {
    background: var(--app-color-red);
    color: var(--app-color-secondary);
  }
}