:root {
  --vs-navigation-width: 120px;
  --vs-offset-normal: 16px;
  --vs-offset-middle: 24px;
  --vs-offset-large: 32px;
}

$green: #28c76f !default;
$border-radius: 4px;
$border-radius-input: 4px;
$border-radius-btn: 4px;
$box-shadow: 0 0 15px 0 rgba(34,41,47,.05)


